image: python:3.9

stages:
  - build
  - test
  - deploy

include:
  - template: Security/SAST.gitlab-ci.yml

gitversion:
  stage: build
  script:
    - apt-get update
    - apt-get install wget -y
    - wget https://github.com/mikefarah/yq/releases/download/3.3.2/yq_linux_amd64
    - mv yq_linux_amd64 yq
    - chmod +x yq
    - wget https://github.com/GitTools/GitVersion/releases/download/5.3.7/gitversion-ubuntu.18.04-x64-5.3.7.tar.gz
    - tar -zxvf gitversion-ubuntu.18.04-x64-5.3.7.tar.gz
    - rm gitversion-ubuntu.18.04-x64-5.3.7.tar.gz
    - chmod +x gitversion
    - "./gitversion path $(pwd) > gitversion-ext.json"
    - cat gitversion-ext.json
    - FullSemVer=$(./yq r gitversion-ext.json FullSemVer)
    - sed "s/^\(\s*version\s*:\s*\).*/\1 $FullSemVer/" scrapinghub.yml > scrapinghub-new.yml
    - mv scrapinghub-new.yml scrapinghub.yml
  artifacts:
    paths:
      - scrapinghub.yml
  only:
    - master

sast:
  stage: test

scrapinghub:
  stage: deploy
  script:
    - apt update
    - apt install rpl -y
    - pip install -r requirements.txt
    - rpl '$SHUB_API_KEY' $SHUB_API_KEY scrapinghub.yml
    - shub deploy
  only:
    - master
  environment:
    name: scrapinghub
    url: https://app.scrapinghub.com/p/467634
